* {
  box-sizing: border-box;
}

body {
  background-image:url("halftone-yellow.png"); /*toptal.com*/
  background-size: cover;
  font-family: 'Limelight', cursive;
  display: flex;
  flex-direction:column;
  text-align:center;
  justify-content: center;
  align-items:center;
}

h1 {
text-align:center;
 font-family: 'Limelight', cursive;
 opacity: 0.8;
 font-size:3.5em;

}


.wrapper {
  display: flex;
  flex-direction:column;
   text-align:center;
  align-items: center;
  max-width:960px;
}

.calculator {
 width: 350px;
 height:540px;
  justify-content: center;
  border: 5px solid black;
  border-radius: 25px;
}

.input {
  background: none;
  border: none;
  height:90px;
  width: 100%;
  border-bottom: 3px solid black;
  color: black;
  text-align: right;
  font-size: 35px;
  border-radius: 0;
  padding-top:25px;
  padding-right:20px;
 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px;
  grid-gap:15px;
}

button {
  background-color: white;
  border: 2.5px solid black; 
  padding: 15px;
  color:black;
  border-radius: 15px; 
  font-size: 1.4em; 
  cursor: pointer;
  font-family: 'Limelight', cursive;
}

.all-clear {
  background-color:grey;
  color:white;
  font-size:2em;
  opacity: 0.5;
  grid-column: span 3;
}

.operator{
  font-weight: bolder;
  font-size: 1.7em;
}


.equals {
  color:white;
  background-color: gray;
  font-weight: bolder;
  font-size: 1.7em;
  opacity: 0.5;

}


.clear, #zero, .decimal {
  font-size:1.4em;
}


footer {
color: black;
padding:1em;
padding-top:2.5em;
padding-bottom:3em;
font-size:15px;
height:10px;
opacity:0.8;

}



/* 
 ***Media Queries*** ((TEMP))---- */



@media screen and (max-width:600px){

body {
  zoom:0.8;
}

}

@media screen and (max-width:400px){

body {
  zoom:0.6;
}

}