* {
  box-sizing: border-box;
}

body {
  background-image:url("halftone-yellow.png"); /*toptal.com*/
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Limelight', cursive;
}

.wrapper {
  position: relative;
  bottom:25px;
}

h1 {
text-align:center;
 font-family: 'Limelight', cursive;
 opacity: 0.8;
 font-size:4em;
}


.calculator {
  max-width: 600px;
  text-align:center;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 25px;
}

.calc-screen {
  background: none;
  border: none;
  padding: 10px;
  height:100px;
  width: 100%;
  border-bottom: 2px solid black;
  color: black;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  grid-gap:15px;
}

.calc-button {
  background-color: cream;
  border: 2.5px solid black; 
  padding: 20px;
  color:black;
  border-radius: 15px; 
  font-size: 20px; 
  cursor: pointer;
  font-family: 'Limelight', cursive;
}

#clear-btn  {
  background-color:grey;
  color:white;
  font-size:30px;
  opacity: 0.5;
  grid-column: span 3;
}

#divide-btn {
  font-weight: bold;
  font-size: 34px;
}

#multiply-btn {
  font-weight: bolder;
  font-size: 35px;
}

#minus-btn {
 font-weight: bolder;
 font-size: 35px;
}

#plus-btn {
  font-weight: bolder;
  font-size: 35px;
}

#equals-btn {
  color:white;
  background-color: gray;
  font-weight: bolder;
  font-size: 30px;
  opacity: 0.5;
}

#zero-btn{
  grid-column: span 3;
}


footer {
color: black;
background-color:inherit;
padding:0.3em;
font-size:15px;

height:100%;
width:100%;
text-align: center;

}




/* ***MOBILE MEDIA INQURIES*** */

@media screen and (max-width:421px){

  * {
  box-sizing: border-box;
}

body {
  zoom:0.8;
  background-image:url("halftone-yellow.png");
  background-size: cover;

  padding-bottom:1em;
  align-items: center;
  justify-content: center;
   font-family: 'Limelight', cursive;
   display: flex;
   flex-direction: column;
}

h1 {
text-align:center;
 font-family: 'Limelight', cursive;
 opacity: 0.8;
 font-size:4em;

}

.calculator {
  max-width: 400px;
  text-align:center;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 9px;
}


.calc-screen {
  background: none;
  border: none;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #111;
  color: #333;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}

/* container */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  grid-gap:10px;
  position: relative;
  right:12px;
}


.calc-button {
  background-color: white;
  border: 2.5px solid black; 
  padding: 30px;
  color:black;
  border-radius: 15px; 
  font-size: 20px; 
  cursor: pointer;
  font-family: 'Limelight', cursive;
}


footer {
color: black;
background-color:inherit;
padding:0.3em;
font-size:15px;
padding-top:1em;
height:100%;
width:100%;
text-align: center;
border: 1px solid black;
border-radius:15px;

}

footer p {
  
}

}