* {
  box-sizing: border-box;
}

body {
  background-image:url("halftone-yellow.png"); /*toptal.com*/
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Limelight', cursive;
  padding-top:1.5em;
}

.wrapper {
  position: relative;
  bottom:25px;
}

h1 {
text-align:center;
 font-family: 'Limelight', cursive;
 opacity: 0.8;
 font-size:4em;
}


.calculator {
  max-width: 600px;
  text-align:center;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 25px;
}

input {
  background: none;
  border: none;
  padding: 10px;
  height:100px;
  width: 100%;
  border-bottom: 2px solid black;
  color: black;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  grid-gap:15px;
}

button {
  background-color: white;
  border: 2.5px solid black; 
  padding: 20px;
  color:black;
  border-radius: 15px; 
  font-size: 25px; 
  cursor: pointer;
  font-family: 'Limelight', cursive;
}

.clear {
  background-color:grey;
  color:white;
  font-size:35px;
  opacity: 0.5;
  grid-column: span 3;
}

.operator{
  font-weight: bold;
  font-size: 40px;
}


.equals {
  color:white;
  background-color: gray;
  font-weight: bolder;
  font-size: 40px;
  opacity: 0.5;
}

#zero {
  grid-column: span 2;
  font-size:35px;
}

.decimal {
  font-size:25px;
}


footer {
color: black;
background-color:inherit;
padding:0.3em;
font-size:15px;
width:100%;
text-align: center;
}




/* ***Media Queries*** */

@media screen and (min-width: 1024px ){
  body {
    zoom:0.8;
  }

  footer {
    padding:50px;
    font-size:20px;
  }
}


@media screen and (max-width:721px){

body {
  zoom:0.7;
}

.calculator {
  max-width: 400px;
}
 


.buttons {
  padding: 25px;
  grid-gap:10px;
  position: relative;
  right:5px;
}

button {
  background-color: white;
  border: 2.5px solid black; 
  padding: 30px;
  font-size: 20px; 

}

}